@{
    ViewData["Title"] = "Error";
}

<h1 style="text-align:center;">@ViewBag.ErrorMessage</h1>
<br />
<div style="text-align:center;">
    <a asp-action="index" asp-controller="home">
        Click here to navigate to the home page
    </a>
</div>
