@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p style="text-align:center;">
        <img src="https://www.genreality.net/wp-content/uploads/2020/12/3.jpg" width="95%" height="auto" opacity="0.5" ; asp-append-version="true" />
    </p>
    <p>
        <hr color="EA1212" />
        <h3>Introduction to Community Care Services</h3>
        <br />
        Your loved ones may fall sick and need medical help or receive care as they recover at home. They also need support with daily life, such as to eat and get dressed. There are community-based services available to support them and you, as their caregivers.
        <br />
        <br />
        Meanwhile, individuals who are in good health may want to take part in social activities.
        <hr color="EA1212" />
    </p>
    <p>
        <h3>— Services Available —</h3>
        <br />
        There are three main types of services you can turn to:
        <ul>
            <li>Home Care, which provides care at the care recipient’s home;</li>
            <li>Day Care, which individuals can go to in the day and return home to their families in the evening; and</li>
            <li>Stay-In Care, for those who cannot care for themselves or when they need care that cannot be provided at home.</li>
        </ul>
        Read on to learn more about the different services provided.
        <hr color="EA1212" />
    </p>
</div>
